@import url(pretendard.css);
/*** 시작 태그 초기화 */
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
/***   끝 태그 초기화 */

/*** 시작 기본 스타일 */
body {
    font-family: 'pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
/***   끝 기본 스타일 */

.global h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 114px 0 16px 0;
}

.global .sub_tit {
    color: #00b900;
    margin: 0 0 7px 0;
}

.global a {
    display: inline-block;
    color: #00b900;
    margin: 30px 0 0 0;
    padding: 4px 30px;
    border: 1px solid #00b900;
}

.global img {
    margin: 42px 0 89px 0;
}


.store {
    background: url(../images/line_store_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 641px;
    text-align: center;
}

.store h2 {
    font-size: 40px;
    font-weight: 700;
    padding: 115px 0 13px 0;
}

.store a {
    display: inline-block;
    margin: 33px 0 0 0;
    padding: 5px 24px;
    border: 1px solid #fff;
}

.store img {
    margin: 42px 0 89px 0;
}