body {
    font-variant-emoji: text;
    max-width: 140vh;
    margin: 0 auto;
}

@media (prefers-color-scheme: dark) {

    body {
        background-color: #1d1d1d;
        filter: hue-rotate(180deg) invert(1);
    }    
    @media (prefers-contrast: more) {
        body {
            background-color: #000;
        }
      }
}

h1 {
    margin: 1.333em 0 1em 0;
}

ul, ol, li {
    margin: 0.5em 0;
}

a {
    display: inline-block;
}

a:hover {
    transform: scale(1.05);
    transition: 0.1s;
}

a:active {
    transform: scale(1);
    transition: 0.05s;
}
