body {
    font-variant-emoji: text;
    margin: 0;
}

@media (prefers-color-scheme: dark) {

    body {
        background-color: #1d1d1d;
        filter: hue-rotate(180deg) invert(1);
    }    
    @media (prefers-contrast: more) {
        body {
            background-color: #000;
        }
      }
}

.wrapper {
    max-width: 140vh;
    margin: 0 auto;
}

header {
    padding: 1.333em 0 1em 0;
    background: linear-gradient(#eee, 90%, #ddd);
    color: transparent;
    text-shadow: 0px 2px #fff, 0 0 #ddd;
}

main {
    margin: 2em 0;
}

ul, ol, li {
    margin: 0.5em 0;
}

a {
    display: inline-block;
}

a:hover {
    transform: scale(1.05);
    transition: 0.1s;
    text-shadow: 3px 3px 3px #eee;
}

a:active {
    transform: scale(1);
    transition: 0.05s;
    text-shadow: none;
}
