/*
    common.css (layout.css 라고도 함)
    홈페이지 전체에 적용되는 공통스타일
    프로젝트마다 변경됨 - 이 css에 있는 속성을 수정하면 프로젝트 전체가 바뀜
*/
body{
    font-family: "SUITE", sans-serif;
    font-size: var(--p);
    font-weight: var(--weight-normal);
    line-height: var(--line-height-normal);
    color: var(--color-text);
    word-break: keep-all;/* 단어 단위로 줄바꿈 */
    word-wrap: break-word;/* 단어가 제한된 넓이보다 길면 강제 줄바꿈 */
}
.wrapper{
    width: var(--wrapper-w); /* 전체화면 최대 너비는 var(--wrapper-w) */
    margin: 0 auto; /* 화면에 가운데 정렬 */
}
#wrap{
    position: relative;
}
@media screen and (max-width:1500px) { /* 1440 + 30 + 30 */
    .wrapper{
        width: auto;
        margin: 0 var(--wrapper-margin);
    }
}
/* html 표준때문에 입력해야하는 태그이지만 홈페이지에 나오지 않는
   태그에 주는 클래스 */
.sr-only, .skip, .blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
:root{
    --wrapper-margin: clamp(16px, calc(30 / 1024 * 100vw), 30px);
    --wrapper-w: 1440px;
    --gap: 24px;
    --p: 16px;
    --weight-normal: 400;
    --weight-bold: 700;
    --line-height-normal: 1.5;
    --size-level1: clamp(32px, calc(60 / 1024 * 100vw), 60px);
    --size-level2: clamp(28px, calc(40 / 1024 * 100vw), 40px);
    --size-level3: clamp(24px, calc(32 / 1024 * 100vw), 32px);
    --size-level4: clamp(22px, calc(28 / 1024 * 100vw), 28px);
    --size-level5: clamp(20px, calc(24 / 1024 * 100vw), 24px);
    --size-level6: clamp(18px, calc(20 / 1024 * 100vw), 20px);
    --size-level7: clamp(16px, calc(18 / 1024 * 100vw), 18px);
    --color-tit: #030316;
    --color-text: #222222;
    --whitish: #F5F2EB;
    --main-white: #DBCCB3;
    --emphasis-white: #F3EAA7;
    --blackish: #312016;
    --main-brown: #4B2E26;
    --main-green: #393F31;
    --tomato: #9A3837;
    --whitish2: #EAE7E0;
    --white: #ffffff;

}
@media screen and (max-width:1024px){
    :root{
        --wrapper-margin: 24px;
    }
}
@media screen and (max-width:768px){
    :root{
        --wrapper-margin: 16px;
        --gap: 16px;
    }
}

