@font-face {
	font-family: 'SUITE';
	font-weight: 400;
	src: url('../fonts/SUITE-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'SUITE';
	font-weight: 700;
	src: url('../fonts/SUITE-Bold.woff2') format('woff2');
}