/* 태그의 스타일 초기화 */
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

strong {
    font-weight: inherit;
}

em, address {
    font-style: normal; /* em, address는 기본 기울임체임 */
}

button {
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 공통 스타일 */
body {
    font-family: "pretendard", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #3d3d3d;
    line-height: 1.5;
    word-break: keep-all; /* 단어 단위로 줄바꿈 */
}

.wrapper {
    width: 1260px;
    margin: 0 auto;
}

#wrap {
    /* 좌우 margin이 30px이 항상 남게하기 위해, min-width를 1260 + 30 + 30 = 1320으로 제한 */
    min-width: 1320px;
}

/* HTML 표준을 준수하기 위해 입력하지만, 홈페이지에는 보이지 않게 할 요소들 */
.sr-only, .skip, .blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}


@media screen and (max-width:768px) { /* 너비 768px 이하 */
                body {
                    font-size: 16px;
                }
                .wrapper {
                    width: auto;
                    margin: 0 16px;
                }
                
                #wrap {
                    /* 좌우 margin이 30px이 항상 남게하기 위해, min-width를 1260 + 30 + 30 = 1320으로 제한 */
                    min-width: 0;
                }
} /* @media screen and (max-width:768px) */