@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body{
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 17px;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 1.5;
    
}
/* 와일드카드 *은 모든 태그를 의미함 */
*{
    margin: 0;
}
.wrapper{
    width: 1260px;
    margin: 0 auto; /* 위 아래 여백은 없고, 좌우 여백은 알아서 반반 => 좌우 가운데 정렬 */
}
h1{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 100px 0 22px 0; /* 마진값 순서는 위 오른쪽 아래 왼쪽 시계방향 */
}
.sub_tit{
    font-weight: 700;
    margin: 32px 0 0 0;
}
strong{
    color: blue;
}
h2{
    font-size: 32px;
    font-weight: 700;
    color: #3d3d3d;
    margin: 74px 0 6px 0; /* 마진값 순서는 위 오른쪽 아래 왼쪽 시계방향 */
}
h3{
    font-size: 24px;
    font-weight: 700;
    color: #3d3d3d;
    margin: 30px 0 2px 0; /* 마진값 순서는 위 오른쪽 아래 왼쪽 시계방향 */
}