@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body{
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 17px;
    color: #3d3d3d;
    line-height: 1.5;
    font-weight: 400;
    word-break: keep-all;
    margin: 0;
}
h1{
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
    margin: 140px 0 16px 0;
}
h2{
    color: #1d1d1d;
    font-size: 32px;
    font-weight: 700;
    margin: 101px 0 17px 0;
}
p{
    margin: 0;
}

.wrapper{
    width: 1260px;
    margin: 0 auto;
}