@use "var";
@use "function";
@use "mixin";

.header {
    @include mixin.header;
    transition: background-color 0.1s;
    &.fixed {
        background-color: var.$white;
        border-bottom: 1px solid var.$main-brown;
    }

    .wrapper {
        @include mixin.flex-justify;
    }
    
    .logo {
        display: flex;
        align-items: center;
        height: calc(var.$header-h);
        a {
            display: block;
            @include mixin.icon("layout/logo_w.svg");
            width: 110px;
            height: calc(var.$header-h / 3);
        }
    }
    &.fixed .logo {
        a {
            @include mixin.change_img("layout/logo.svg");
        }
    }

    .gnb {
        @include mixin.pc-only;
    }
    
    .gnb ul {
        @include mixin.flex-justify;
        gap: function.vw(22, 1920);
        li a {
            display: flex;
            align-items: center;
            height: var.$header-h;
            font-size: var.$size-level7;
            font-weight: var.$weight-bold;
            color: var.$white;
            padding: 0 function.em(11, 18);
            &.active {
                color: var.$main-green;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: function.em(-4, 16);
                    transform: translateX(-50%);
                    width: function.em(8, 16);
                    height: function.em(8, 16);
                    border: 1px solid var.$color-tit;
                    border-radius: 50%;
                    background-color: var.$main-green;
                }
            }
        }
    }
    &.fixed .gnb ul {
        li a {
            color: var.$color-tit;
        }
    }

    .inquiry {
        @include mixin.outline-active;
        @include mixin.pc-only(inline-block);
        font-size: var.$size-level7;
        font-weight: var.$weight-bold;
        padding: function.em(4, 18) function.em(18, 18);
        border-radius: max(100vw, 100vh);
        background-color: var.$blackish;
        color: var.$white;
    }
}


.footer {
    background-color: var.$color-tit;
    color: #9a9aa2;
    .wrapper {
        padding: function.clamping(47, 57, 1024, 1px) 0 function.clamping(122, 138, 1024, 1px) 0;
        @include mixin.flex-justify(space-between, center);
        flex-direction: column;
        text-align: center;
        gap: function.clamping(12, 28, 1024, 1px) 0;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;    
            top: function.clamping(23, 66, 1024, 1px);
            width: 153px;
            height: 162px;
            @include mixin.bg("layout/favicon_footer.svg", transparent);
            opacity: .05;
        }
        .f_nav ul {
            @include mixin.flex-justify(center, center);
            gap: 0 function.em(38, 16);
            flex-wrap: wrap;
            margin: 0 function.em(38, 16);
            li.privacy {
                font-weight: var.$weight-bold;
            }
        }
        .f_info ul > li > ul {
            @include mixin.flex-justify(center, center);
            gap: 0 function.em(18, 16);
            flex-wrap: wrap;
        }
    }
    a:hover {
        text-decoration: underline;
    }
}