@use "var";
@use "function";

@mixin wrapper {
  width: var.$wrapper-w;
  margin: 0 auto;
  
  @media screen and (max-width:1500px) { /* 1440 + 30 + 30 */
    width: auto;
    margin: 0 30px;
  }
  @media screen and (max-width:1024px) {
    margin: 0 24px;
  }
  @media screen and (max-width:768px) {
    margin: 0 16px;
  }
}

@mixin bg($name, $color: #222) {
  background: url(function.img($name)) $color no-repeat center center / cover;
}

@mixin change_img($name) {
  background-image: url(function.img($name));
}

@mixin icon($name) {
  background: url(function.img($name)) no-repeat center center / contain;
}

@mixin icon-svg($size) {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $size;
}

@mixin pc-only($display: block, $breakpoint: 768px) {
  display: $display;
  @media screen and (max-width: $breakpoint) {
      display: none;
  }
}

@mixin mobile-only($display: block, $breakpoint: 768px) {
  display: none;
  @media screen and (max-width: $breakpoint) {
      display: $display;
  }
}

@mixin pos($lr: left, $lr-pos: 0, $tb: top, $tb-pos: 0) {
  #{$lr}: $lr-pos;
  #{$tb}: $tb-pos;
}

@mixin header {
  position: fixed;
  @media screen and (max-width: 768px) {
      position: absolute;
  }
  @include pos(left, 0, top, 0);
  width: 100%;
  height: var.$header-h;
  z-index: 10;
}

@mixin tabbar {
  position: sticky;
  @include pos(left, 0, top, 0);
  width: 100%;
  height: calc(var.$header-h);
  z-index: 10;
}

@mixin flex-justify($justify-content: space-between, $align: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align;
}

@mixin grid-justify($justify-content: space-between, $align: center, $count) {
  display: grid;
  grid-template-columns: repeat($count, 1fr);
  justify-content: $justify-content;
  align-items: $align;
}

@mixin title {
  color: var.$main-green;
  text-align: center;
  margin: 0 0 function.clamping(75, 133, 1024, 1px) 0;
  .subtit {
    display: block;
    font-family: "Grandiflora One", cursive;
    font-size: var.$size-level3;
    margin: 0 0 function.em(11, 32) 0;
    opacity: .4;
    -webkit-text-stroke: 1px var.$main-green;
  }

  h2 {
    font-size: var.$size-level1;
    font-weight: var.$weight-bold;

  }
}

@mixin border {
  border-style: solid;
  border-color: var.$color-tit;
}

@mixin numbering {
  display: block;
  position: relative;
  color: var.$color-tit;
  text-align: center;
  width: calc(1em * var.$line-height-normal);
  font-variant-numeric: tabular-nums;
  padding-left: .1em;
  
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var.$color-tit;
    opacity: .15;
  }
}

@mixin photo_img($object-fit:cover) {
  width: 100%;
  height: 100%;
  object-fit: $object-fit;
  vertical-align: top;
}

@mixin outline-active {
  &:active,
  &:focus-visible {
    outline-width: 2px;
    box-shadow: 0 0 0 6px var.$color-tit;
  }
}