@use "function";

$wrapper-w: 1440px;
$p: 1.6rem;
$header-h: function.clamping(48, 60, 1024, 1px);
$weight-normal: 400;
$weight-bold: 700;
$line-height-normal: 1.5;
$line-height-tit: 1.2;
$size-level1: function.clamping(32, 60, 1024, 0.1rem); /* 60px */
$size-level2: function.clamping(28, 40, 1024, 0.1rem); /* 40px */
$size-level3: function.clamping(24, 32, 1024, 0.1rem); /* 32px */
$size-level4: function.clamping(22, 28, 1024, 0.1rem); /* 28px */
$size-level5: function.clamping(20, 24, 1024, 0.1rem); /* 24px */
$size-level6: function.clamping(18, 20, 1024, 0.1rem); /* 20px */
$size-level7: function.clamping(16, 18, 1024, 0.1rem); /* 18px */
$color-tit: #030316;
$color-text: #222222;
$whitish: #F5F2EB;
$main-white: #DBCCB3;
$emphasis-white: #F3EAA7;
$blackish: #312016;
$main-brown: #4B2E26;
$main-green: #393F31;
$tomato: #9A3837;
$whitish2: #EAE7E0;
$white: #ffffff;
$visual-height: function.clamping(500, 700, 1024, 1px);
$icon-check: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.8' d='M4.78769 7.81737L12.4608 0.267261C12.6419 0.0890869 12.8532 0 13.0946 0C13.3361 0 13.5473 0.0890869 13.7284 0.267261C13.9095 0.445434 14 0.657016 14 0.902004C14 1.14699 13.9095 1.35857 13.7284 1.53675L5.42146 9.73274C5.24038 9.91091 5.02912 10 4.78769 10C4.54625 10 4.33499 9.91091 4.15392 9.73274L0.260751 5.902C0.0796741 5.72383 -0.0070922 5.51225 0.000452693 5.26726C0.00799759 5.02227 0.102309 4.81069 0.283386 4.63252C0.464464 4.45434 0.679493 4.36526 0.928474 4.36526C1.17746 4.36526 1.39249 4.45434 1.57356 4.63252L4.78769 7.81737Z' fill='%23222222'/%3E%3C/svg%3E%0A");
$icon-arrow: url("data:image/svg+xml,%3Csvg width='25' height='14' viewBox='0 0 25 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.508 3.65495L2.83075 13.5133C2.50159 13.8486 2.11209 14.0106 1.66224 13.9995C1.21239 13.9883 0.822892 13.815 0.493735 13.4797C0.164578 13.1444 2.0046e-08 12.7476 0 12.2893C-2.00169e-08 11.8311 0.164578 11.4343 0.493735 11.099L10.6318 0.804758C10.8951 0.536505 11.1913 0.335316 11.5205 0.201189C11.8496 0.0670625 12.1788 1.43879e-08 12.508 0C12.8371 -1.43879e-08 13.1663 0.0670625 13.4954 0.201189C13.8246 0.335316 14.1208 0.536505 14.3842 0.804758L24.5222 11.1325C24.8513 11.4678 25.0104 11.859 24.9995 12.3061C24.9885 12.7532 24.8184 13.1444 24.4893 13.4797C24.1601 13.815 23.7706 13.9827 23.3208 13.9827C22.8709 13.9827 22.4814 13.815 22.1523 13.4797L12.508 3.65495Z' fill='%23312016'/%3E%3C/svg%3E%0A");
$icon-arrow-with-tail: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 14L9.675 12.3083L13.6688 8.16667H0V5.83333H13.6688L9.675 1.69167L11.25 0L18 7L11.25 14Z' fill='%23030316'/%3E%3C/svg%3E%0A");
