@use "var";
@use "function";

@mixin wrapper {
  width: var.$wrapper-w;
  margin: 0 auto;
  
  @media screen and (max-width:1500px) { /* 1440 + 30 + 30 */
    width: auto;
    margin: 0 30px;
  }
  @media screen and (max-width:1024px) {
    margin: 0 24px;
  }
  @media screen and (max-width:768px) {
    margin: 0 16px;
  }
}

@mixin bg($name, $color: #222) {
  background: url(function.img($name)) $color no-repeat center center / cover;
}

@mixin change_img($name) {
  background-image: url(function.img($name));
}

@mixin icon($name) {
  background: url(function.img($name)) no-repeat center center / contain;
}

@mixin icon-svg($size) {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $size;
}

@mixin pc-only($display: block, $breakpoint: 768px) {
  display: $display;
  @media screen and (max-width: $breakpoint) {
      display: none;
  }
}

@mixin mobile-only($display: block, $breakpoint: 768px) {
  display: none;
  @media screen and (max-width: $breakpoint) {
      display: $display;
  }
}

@mixin pos($lr: left, $lr-pos: 0, $tb: top, $tb-pos: 0) {
  #{$lr}: $lr-pos;
  #{$tb}: $tb-pos;
}

@mixin header {
  position: fixed;
  @media screen and (max-width: 768px) {
      position: absolute;
  }
  @include pos(left, 0, top, 0);
  width: 100%;
  height: var.$header-h;
  z-index: 10;
}

@mixin tabbar {
  position: sticky;
  @include pos(left, 0, top, 0);
  width: 100%;
  height: calc(var.$header-h);
  z-index: 10;
}

@mixin flex-justify($justify-content: space-between, $align: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align;
}

@mixin grid-justify($justify-content: space-between, $align: center, $count) {
  display: grid;
  grid-template-columns: repeat($count, 1fr);
  justify-content: $justify-content;
  align-items: $align;
}

@mixin head {
  font-weight: var.$weight-bold;
  line-height: var.$line-height-tit;
  letter-spacing: -5%;
};

@mixin title {
  @include head;
  font-size: var.$size-level1;
  span {
    position: relative;
    &::after {
      @include head;
      font-size: function.clamping(80, 120, 1024, 0.1rem);
      position: absolute;
      right: -0.75em;
      top: -0.8em;
      z-index: -1;
    }
  }
  
}

@mixin border($color: var.$color-text) {
  border-style: solid;
  border-color: $color;
}


@mixin photo_img($object-fit:cover) {
  width: 100%;
  height: 100%;
  object-fit: $object-fit;
  vertical-align: top;
}

@mixin skip-link {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: var.$color-tit;
  color: var.$white;
  width: 100%;
  height: 2em;
  text-align: center;
  padding-top: .25em;
  opacity: 0;
  pointer-events: none;
  &:focus {
      opacity: 1;
  }
}

@mixin emphasis {
  .emphasis {
    position: relative;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -.15em;
      width: 100%;
      height: .65em;
      background-color: function.rgba-mix(var.$tomato, .2);
    }
  }
}

@mixin text-stroke($stroke-color) {
  text-shadow: $stroke-color 3px 0px 0px, $stroke-color 2.83487px 0.981584px 0px, $stroke-color 2.35766px 1.85511px 0px, $stroke-color 1.62091px 2.52441px 0px, $stroke-color 0.705713px 2.91581px 0px, $stroke-color -0.287171px 2.98622px 0px, $stroke-color -1.24844px 2.72789px 0px, $stroke-color -2.07227px 2.16926px 0px, $stroke-color -2.66798px 1.37182px 0px, $stroke-color -2.96998px 0.42336px 0px, $stroke-color -2.94502px -0.571704px 0px, $stroke-color -2.59586px -1.50383px 0px, $stroke-color -1.96093px -2.27041px 0px, $stroke-color -1.11013px -2.78704px 0px, $stroke-color -0.137119px -2.99686px 0px, $stroke-color 0.850987px -2.87677px 0px, $stroke-color 1.74541px -2.43999px 0px, $stroke-color 2.44769px -1.73459px 0px, $stroke-color 2.88051px -0.838247px 0px;
}

@mixin button($bcolor,
  $url,
  $x1,
  $y1,
  $bor,
  $col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}