body, html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
    word-break: keep-all; /* 단어 줄바꿈 */
    word-wrap: break-word; /* 단어가 제한된 넓이보다 길면 강제 줄바꿈 */
}

.wrapper {
    width: 1260px;
    margin: 0 auto;
}


@media screen and (max-width: 1610px) { /* aside가 .wrapper에 닿음 */
    .wrapper {
        width: auto; /* 브라우저 너비대로 */
        margin: 0 175px; /* (1610 - 1260) / 2 */
    }
}

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

:root {
    --header-h: clamp(56px, calc(80 / 1024 * 100vw), 80px);
}