@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'), 
    url(../fonts/NotoSansKR-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'), 
    url(../fonts/NotoSansKR-Bold.woff) format('woff');
}
 
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap'); */