@import url(reset.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/* html * {
    border: 1px solid red;
} */

.section {
    overflow: hidden;
}

@media screen and (min-width: 769px) {
    .fp-responsive .section:not(.visual) {
        padding: 100px 0 70px 0;
    }
    .fp-responsive .section.biz {
        padding-bottom: 100px;
    }
    
}

.visual .swiper {
    width: 100vw;
}

.visual .swiper-slide {
    height: 100dvh;
    display: flex; /* .visual_txt 위아래 가운데 */
    flex-direction: column;
    justify-content: center;
}

.visual .swiper-slide .photo,
.visual .swiper-slide .video {
    position: absolute; /* .swiper-slide 기준 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.visual .swiper-slide .photo img,
.visual .swiper-slide .video video,
.visual .swiper-slide .video video source {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visual .swiper-slide .photo img {
    transform: scale3d(1, 1, 1);
    transition: transform 8s;
}

.visual .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1.125, 1.125, 1);    
}

.visual .swiper-slide .visual_txt {
    font-size: clamp(32px, calc(65 / 1024 * 100vw), 65px);
    font-weight: 700;
    color: #fff;
    line-height: 1.3;
    text-align: center;
}

.visual .swiper-slide .visual_txt .line {
    overflow: hidden;
}

.visual .swiper-slide .visual_txt .line span {
    display: block;
    transform: translateY(100%);
    transition: transform 0.3s;
}
.visual .swiper-slide .visual_txt .line:first-child span {
    transition-delay: 0.3s;
}
.visual .swiper-slide .visual_txt .line:last-child span {
    transition-delay: 0.5s;
}
.visual .swiper-slide.swiper-slide-active .visual_txt .line span {
    transform: translateY(0);
}


.tree .wrapper {
    display: flex; /* .txt, .photo 좌우 정렬 */
    justify-content: space-between;
    align-items: center;
    margin-top: var(--header-h);
}

.tree .txt h2 {
    display: flex;
}

.tree .txt h2 strong {
    font-size: clamp(65px, calc(102 / 1024 * 100vw), 102px);
    font-weight: 700;
    line-height: 1.3;
    color: #475D2E;
}

.tree .txt h2 span {
    font-size: clamp(20px, calc(24 / 1024 * 100vw),24px);
    font-weight: 700;
    color: #1d1d1d;
    margin: 1.25em 0 0 0;    
}

.tree .txt p {
    margin: 14px 0 0 0;    
}

.tree .photo {
    width: 51.9048%;
    position: relative;
}

.tree .photo .tree {
    width: 84.4037%;
}

.tree .photo .cloud_left {
    position: absolute;
    left: -10%;
    top: 29%;
    width: 36.3914%;
    animation: tree_right 3s linear 0s infinite;
}
@keyframes tree_right {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
    }
}
.tree .photo .cloud_right {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 43.12%;
    animation: tree_right 3s linear 0s infinite;
}
.tree .photo .sun {
    position: absolute;
    right: 19%;
    top: -26%;
    z-index: -1;
    width: 31.50%;
    animation: tree_rotate 8s linear 0s infinite;
}
@keyframes tree_rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.tree .photo .leaf_left {
    position: absolute;
    left: 20%;
    bottom: 41%;
    transform: rotate(-56deg);
    width: 6.88%;
    animation: tree_leaf 7s ease 2s infinite;
    opacity: 0;
}
@keyframes tree_leaf {
    0% {
        transform: translate(0, 0) rotate(-56deg);
        opacity: 0;
    }
    25% {
        transform: translate(0, 0) rotate(-56deg);
        opacity: 1;
    }
    75% {
        transform: translate(-150%, 530%) rotate(-36deg);
        opacity: 1;
    }    
    100% {
        transform: translate(-150%, 530%) rotate(-36deg);
        opacity: 0;
    }
}
.tree .photo .leaf_right {
    position: absolute;
    right: 39%;
    bottom: 39%;
    transform: rotate(-180deg);
    width: 6.88%;
    animation: tree_leaf2 7s ease 1s infinite;
    opacity: 0;
}
@keyframes tree_leaf2 {
    0% {
        transform: translate(0, 0) rotate(-180deg);
        opacity: 0;
    }
    25% {
        transform: translate(0, 0) rotate(-180deg);
        opacity: 1;
    }
    75% {
        transform: translate(150%, 530%) rotate(-230deg);
        opacity: 1;
    }    
    100% {
        transform: translate(150%, 530%) rotate(-230deg);
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .tree .wrapper {
        flex-direction: column;
        gap: 108px 0;
        margin-top: var(--header-h);
        margin-bottom: 123px;
        text-align: center;
    }

    .tree .txt h2 {
        justify-content: center;
    }

    .tree .txt p {
        margin: 25px 0 0 0;    
    }

    .tree .photo {
        width: auto;
        margin: 0 0 0 17px;
    }

    .tree .photo .sun {
        display: none;
    }
} /* @media screen and (max-width: 768px) */


.biz {
    background-color: #534333;
    color: #fff;
}

.biz .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.biz .tit h2 {
    font-size: clamp(28px, calc(40 / 1024 * 100vw), 40px);
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 0.6em 0;
}

.biz .list {
    width: 90%;
    max-width: 656px;
}

.biz .list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 16px;
}

.biz .list ul li {
    width: calc(50% - 8px);
}
.biz .list ul li:nth-child(odd) { 
    transform: translateY(27.8%);
}

.biz .list ul li a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 205px;
    background-color: #D6D3CC;
    color: #1d1d1d;
    border-radius: 16px;
    font-size: clamp(24px, calc(28 / 1024 * 100vw), 28px);
    font-weight: 700;
    padding: 0 0 7.5% 12.5%;
    white-space: nowrap;
    overflow-x: hidden;
}

.biz .list ul li a span {
    position: relative; /* ::before 정렬 기준 */
}
.biz .list ul li a span::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1.96em; /* font-size: 28px; 55px;*/
    width: 3.9643em;
    height: 3.5714em;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
}
.biz .list ul li.biz1 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='99' height='98' viewBox='0 0 99 98' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.61186 97.2265H96.3881C97.5327 97.2265 98.5 96.2592 98.5 95.2919V48.8632C98.5 47.7347 97.5166 46.7675 96.3881 46.7675H63.8236V2.59574C63.8236 1.46727 62.8402 0.5 61.7117 0.5H2.61186C1.46726 0.5 0.5 1.46727 0.5 2.59574V95.1307C0.5 96.2592 1.48338 97.2265 2.61186 97.2265ZM94.4375 93.1962H63.6624V50.959H94.4375V93.1962ZM4.57863 4.53027H59.616V48.0894C59.5192 48.3312 59.4548 48.5892 59.4548 48.8632V93.035H51.7972V64.9843C51.7972 63.8558 50.8139 62.8886 49.6854 62.8886H14.8477C13.7031 62.8886 12.7359 63.8558 12.7359 64.9843V93.1962H4.59474V4.53027H4.57863ZM16.7823 67.08H47.5574V93.1962H16.7823V67.08Z' fill='%23534333' stroke='%23534333' stroke-miterlimit='10'/%3E%3Cpath d='M12.7193 26.7769H22.9723C24.1169 26.7769 24.9229 25.8097 25.0841 24.6812V14.5249C25.0841 13.3965 24.1008 12.4292 22.9723 12.4292H12.7193C11.5747 12.4292 10.6074 13.3965 10.6074 14.5249V24.6812C10.6074 25.8097 11.5908 26.7769 12.7193 26.7769ZM14.8311 16.6207H21.0216V22.7467H14.8311V16.6207Z' fill='%23534333'/%3E%3Cpath d='M41.2056 26.7769H51.4586C52.6032 26.7769 53.4093 25.8097 53.5705 24.6812V14.5249C53.5705 13.3965 52.5871 12.4292 51.4586 12.4292H41.2056C40.061 12.4292 39.0938 13.3965 39.0938 14.5249V24.6812C39.0938 25.8097 40.0771 26.7769 41.2056 26.7769ZM43.3175 16.6207H49.5079V22.7467H43.3175V16.6207Z' fill='%23534333'/%3E%3Cpath d='M12.7193 46.9288H22.9723C24.1169 46.9288 24.9229 45.9615 25.0841 44.8331V34.6768C25.0841 33.5483 24.1008 32.5811 22.9723 32.5811H12.7193C11.5747 32.5811 10.6074 33.5483 10.6074 34.6768V44.8331C10.6074 45.9615 11.5908 46.9288 12.7193 46.9288ZM14.8311 36.7725H21.0216V42.8985H14.8311V36.7725Z' fill='%23534333'/%3E%3Cpath d='M41.2056 46.9288H51.4586C52.6032 46.9288 53.4093 45.9615 53.5705 44.8331V34.6768C53.5705 33.5483 52.5871 32.5811 51.4586 32.5811H41.2056C40.061 32.5811 39.0938 33.5483 39.0938 34.6768V44.8331C39.0938 45.9615 40.0771 46.9288 41.2056 46.9288ZM43.3175 36.7725H49.5079V42.8985H43.3175V36.7725Z' fill='%23534333'/%3E%3C/svg%3E%0A");
    background-size: 90%;
}
.biz .list ul li.biz2 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='83' height='99' viewBox='0 0 83 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.173 16.2604L54.5291 28.4145C54.8532 28.5766 55.3394 28.7387 55.6797 28.7387C56.3279 28.7387 56.9923 28.4146 57.4785 27.7663C58.1267 26.9561 57.9646 25.6596 56.9923 25.0114L39.4741 13.0193C38.6639 12.3711 37.3512 12.5332 36.6868 13.5055C36.0386 14.3158 36.2006 15.6122 37.173 16.2604Z' fill='%23534333'/%3E%3Cpath d='M70.0704 77.4034C65.3708 78.3595 61.8866 82.4433 61.8866 87.4022C61.8866 93.0741 66.6348 97.6117 72.1933 97.6117C77.7518 97.6117 82.3379 93.0741 82.5 87.4022C82.5 82.4595 79.0158 78.3757 74.3162 77.4034V26.7935C74.3162 25.8536 73.6518 25.0433 72.7767 24.784L38.4696 0.864624C37.8214 0.378459 36.8328 0.378459 36.1846 0.864624L1.3265 25.1729C0.840332 25.497 0.5 26.1453 0.5 26.7935C0.5 27.4417 0.824126 28.0899 1.3265 28.414L6.72292 32.1737V64.0662C6.72292 70.2243 11.7953 75.4101 18.1802 75.4101H54.513C60.736 75.4101 65.9704 70.2243 66.2945 63.9041V33.3405L70.0541 30.699V77.4034H70.0704ZM54.6751 71.1966H18.3423C14.2585 71.1966 10.985 67.9555 10.985 63.9041V35.1393L36.1846 52.7223C36.5087 52.8844 36.8328 53.0465 37.3352 53.0465C37.8375 53.0465 38.1455 52.8844 38.6478 52.7223L62.0486 36.3223V63.9041C62.0486 67.9555 58.7751 71.1966 54.6913 71.1966H54.6751ZM37.3352 48.5089L10.6609 29.986C10.353 29.4674 9.83439 29.0947 9.21858 28.9812L6.07471 26.7935L37.3352 4.91601L68.5956 26.6314L37.3352 48.5089ZM72.1933 93.7223C68.7577 93.7223 65.9704 90.9674 65.9704 87.5642C65.9704 84.1611 68.7577 81.4061 72.1933 81.4061C75.6289 81.4061 78.4162 84.1611 78.4162 87.5642C78.4162 90.9674 75.6289 93.7223 72.1933 93.7223Z' fill='%23534333' stroke='%23534333' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
    background-size: 70%;
}
.biz .list ul li.biz3 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='111' height='97' viewBox='0 0 111 97' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.11338 93.2559C1.22511 93.2559 0.5 93.981 0.5 94.8693C0.5 95.7576 1.22511 96.4826 2.11338 96.4826H108.887C109.775 96.4826 110.5 95.7576 110.5 94.8693C110.5 93.981 109.775 93.2559 108.887 93.2559H98.7894V45.1082H108.705C109.394 45.1082 110.011 44.6731 110.246 44.0205C110.482 43.3679 110.246 42.6428 109.702 42.2077L90.0155 26.9078V2.12702C90.0155 1.23875 89.2904 0.513609 88.4021 0.513609H70.4192C69.531 0.513609 68.8059 1.23875 68.8059 2.12702V10.3933L56.5152 0.839898C55.9351 0.386701 55.1193 0.386701 54.5211 0.839898L1.31575 42.2077C0.771913 42.6247 0.554373 43.3498 0.771907 44.0205C0.989442 44.6913 1.6058 45.1082 2.31279 45.1082H12.2287V93.2559H2.1315H2.11338ZM50.0254 62.0034C52.8896 64.8676 54.1404 69.1095 53.8141 74.6567L41.034 61.8765C40.3995 61.242 39.3662 61.242 38.7498 61.8765C38.1153 62.511 38.1153 63.5443 38.7498 64.1606L50.116 75.5268L51.53 76.9408C45.9829 77.2852 41.7409 76.0163 38.8948 73.1702C34.2179 68.4932 34.3266 60.6619 34.5442 57.6527C35.1968 57.5983 36.0669 57.5621 37.0821 57.5621C40.762 57.5802 46.3636 58.3053 50.0435 61.9853L50.0254 62.0034ZM72.1233 73.1702C69.2772 76.0344 65.0171 77.2852 59.47 76.9589L72.2502 64.1787C72.8847 63.5443 72.8847 62.511 72.2502 61.8947C71.6157 61.2602 70.5824 61.2602 69.966 61.8947L58.618 73.2608L57.766 74.1128L57.204 74.6748C57.0409 72.01 57.2584 69.6534 57.8385 67.5868C58.4548 65.3752 59.4881 63.508 60.9746 62.0215C65.6516 57.3445 73.4829 57.4352 76.4921 57.6708C76.5102 57.9427 76.5284 58.2509 76.5465 58.5954C76.7096 62.0578 76.4196 68.892 72.1595 73.1702H72.1233ZM72.0326 12.9312V3.75852H86.7706V24.3881L75.9845 15.9948L72.0326 12.9131V12.9312ZM7.02602 41.8633L55.5 4.17542L58.3098 6.35079L69.4222 14.9797L87.4051 28.9563L103.974 41.8452H7.02602V41.8633ZM15.4555 47.6099V45.1082H95.5445V93.2559H57.1134V79.9682C58.5274 80.1313 59.9051 80.2582 61.2103 80.2582C64.8721 80.2582 68.0264 79.5512 70.6549 78.1916C72.0508 77.4665 73.3197 76.5601 74.4255 75.4543C77.4347 72.4451 78.8125 68.5113 79.4107 64.9583C80.1902 60.245 79.5919 56.2206 79.5376 55.9487C79.4288 55.2599 78.885 54.716 78.1961 54.6072C77.6885 54.5166 65.706 52.7038 58.6905 59.7193C57.7841 60.6257 57.0409 61.6409 56.3883 62.7285C56.062 63.2724 55.7719 63.8706 55.5181 64.4688C54.7386 62.6741 53.7053 61.0789 52.3457 59.7193C49.7716 57.1633 46.563 55.7855 43.4631 55.0604C38.0972 53.8096 33.1483 54.5528 32.822 54.6072C32.1332 54.716 31.5893 55.2599 31.4806 55.9487C31.408 56.4563 29.5771 68.4388 36.5926 75.4543C39.7831 78.6448 44.2063 80.2582 49.8078 80.2582C51.0949 80.2582 52.4726 80.1494 53.9047 79.9682V93.2559H15.4736V47.6099H15.4555Z' fill='%23534333' stroke='%23534333' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz4 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='104' height='98' viewBox='0 0 104 98' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M101.594 55.8326L90.6398 49.765C77.5337 42.4353 61.499 54.1661 60.9003 54.6191C59.1366 55.7841 57.4539 56.8035 55.7549 57.7419C55.1563 53.5997 54.7194 48.7456 54.4767 43.2443C54.8488 43.2929 55.2048 43.3252 55.577 43.3576C57.6157 43.5679 59.5897 43.6974 61.4828 43.6974C70.9645 43.6974 78.456 40.9953 83.8117 35.6234C91.0119 28.4069 92.6947 18.0677 92.8889 10.8513C93.0021 6.17513 92.5005 2.80963 92.452 2.46984C92.3225 1.69319 91.7239 1.09448 90.9472 0.965033C90.0897 0.83559 69.67 -2.27101 57.7937 9.58919C55.4637 11.903 53.6515 14.6375 52.3409 17.7441C52.0496 18.4399 51.7746 19.1518 51.5319 19.8799C50.1889 15.8672 48.1178 12.4208 45.27 9.58919C36.4356 0.770896 22.8764 0.220752 16.1616 0.57672C13.8478 0.706163 12.343 0.932672 12.1165 0.965033C11.3398 1.09448 10.7412 1.69319 10.6117 2.46984C10.4823 3.3274 7.37564 23.747 19.2358 35.6234C24.5915 40.9953 32.0831 43.6974 41.5648 43.6974C43.7815 43.6974 46.1114 43.5518 48.5547 43.2605C48.1663 52.0303 47.3735 57.839 46.6616 61.4472C46.3865 61.512 46.1276 61.5929 45.8525 61.6576L28.5234 51.4316C24.4298 48.9074 19.3006 49.5709 15.9351 52.8717C12.6019 52.9849 9.39818 54.7162 7.52126 57.7581C7.4889 57.8228 7.45654 57.8876 7.42418 57.9523L7.31093 58.1788C4.93242 59.0526 2.92604 60.6868 1.58307 62.8711C0.563705 64.5215 0.256273 66.4793 0.693143 68.3724C1.14619 70.2655 2.29501 71.8674 3.96158 72.8868L32.3581 90.4101C39.1539 94.6008 47.5353 96.7205 55.9006 96.7205C62.8581 96.7205 69.7833 95.248 75.7538 92.2547C75.8671 92.1899 86.8212 86.187 100.461 88.0154C100.979 88.0801 101.497 87.9345 101.885 87.5785C102.273 87.2387 102.5 86.7371 102.5 86.2194V57.4183C102.5 56.7549 102.144 56.1563 101.578 55.8326H101.594ZM60.3178 12.1457C69.2655 3.19793 84.4589 3.90987 89.0379 4.36292C89.1026 4.97777 89.1674 5.78679 89.1997 6.74143C89.491 12.9062 88.9894 25.3327 81.239 33.0831C75.673 38.6491 67.2268 40.8658 56.1918 39.7656L80.0255 15.9319C80.7374 15.2199 80.7374 14.0873 80.0255 13.3754C79.3135 12.6635 78.1809 12.6635 77.469 13.3754L54.8812 35.9632L53.6353 37.2091C53.5382 36.2706 53.4573 35.3483 53.4088 34.4422C53.2631 31.4488 53.3926 28.6658 53.7647 26.1093C54.6223 20.3653 56.7905 15.673 60.3178 12.1619V12.1457ZM21.7923 33.0669C12.8446 24.1191 13.5565 8.92576 14.0096 4.34672C14.495 4.29818 15.126 4.24966 15.8218 4.2173C21.76 3.86133 34.7204 4.15257 42.7135 12.1457C48.2796 17.7117 50.4963 26.1579 49.396 37.1929L27.0995 14.8963C26.3876 14.2006 25.2549 14.2006 24.543 14.8963C23.8311 15.6083 23.8311 16.7409 24.543 17.4528L44.7846 37.6945L46.8395 39.7494C35.8045 40.8496 27.3584 38.6491 21.7923 33.0669ZM50.5449 60.169C50.8846 58.1788 51.2082 55.7032 51.4995 52.7099C51.7422 55.1207 52.0173 57.3536 52.3409 59.4247C51.9364 59.6027 51.5318 59.7807 51.1112 59.9425C50.917 60.0234 50.7228 60.1043 50.5449 60.169ZM26.6626 54.5058L40.335 62.5637C39.1215 62.7093 37.908 62.8711 36.743 63.1947L21.6953 54.3764C21.4202 54.1984 21.129 54.0528 20.8539 53.9072C22.7308 53.2438 24.8666 53.3894 26.6626 54.4897V54.5058ZM19.8345 57.4669L32.7788 65.0555C31.8889 65.6541 31.1122 66.3337 30.4488 67.0942L17.2942 59.1335C15.8703 58.2597 14.317 57.7258 12.7152 57.5316C14.8186 56.2048 17.5693 56.0754 19.8507 57.4669H19.8345ZM98.908 84.213C85.0576 83.0157 74.4756 88.8406 74.0711 89.0509C62.0491 95.07 45.6907 94.3581 34.2674 87.3197L5.87088 69.7963C5.0295 69.2785 4.447 68.4695 4.22047 67.5149C3.99395 66.5602 4.15575 65.5732 4.67352 64.748C5.75761 62.9682 7.48891 61.7385 9.51146 61.2531C10.1101 61.1075 10.725 61.0427 11.3237 61.0427C12.7475 61.0427 14.1552 61.4311 15.4173 62.2077L28.5557 70.1523C28.3454 70.6539 28.1836 71.1878 28.0541 71.7218C27.3584 74.7637 28.7013 78.3234 31.2093 80.0061C34.2836 82.0772 38.4743 81.5271 41.5324 81.1388L41.9693 81.0902C49.0239 80.1841 56.2565 78.2748 63.4891 75.3947L63.7642 75.2815C64.6865 74.9093 65.1395 73.8576 64.7674 72.9353C64.3952 72.013 63.3435 71.56 62.4212 71.9321L62.1623 72.0292C55.2048 74.796 48.2634 76.6406 41.5162 77.4982L41.0793 77.5629C38.4581 77.9026 35.1735 78.3234 33.248 77.0289C31.986 76.1714 31.2255 74.1327 31.5976 72.547C32.2934 69.5374 34.7043 67.9032 36.6136 67.0618C37.9242 66.4793 39.7202 66.269 41.4515 66.0748C42.4061 65.9616 43.3931 65.8483 44.3316 65.6703C44.7684 65.5894 45.1892 65.4762 45.6098 65.3952C45.6098 65.3952 45.6098 65.3952 45.626 65.3952C45.8849 65.3952 46.1276 65.3305 46.3541 65.2334C47.1146 65.0555 47.8589 64.8451 48.587 64.6348C48.6356 64.6348 48.7003 64.6348 48.7488 64.6186C48.7812 64.6186 49.0563 64.5215 49.4769 64.3921C49.5578 64.3597 49.6226 64.3436 49.7035 64.3112C51.0141 63.8743 53.3926 63.0491 55.2048 62.1106C55.2371 62.0945 55.2695 62.0621 55.3019 62.0459C57.9069 60.7838 60.3987 59.2952 62.9714 57.5963C63.117 57.483 77.7926 46.7555 88.8923 52.9364L98.9241 58.5024V84.2292L98.908 84.213Z' fill='%23534333' stroke='%23534333' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
    background-size: 85%;
}
.biz .list ul li.biz5 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='98' height='97' viewBox='0 0 98 97' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M97.9517 38.4598V14.3219C97.9517 6.59774 91.5954 0.160978 83.6299 0.160978C75.6644 0.160978 69.3081 6.43682 69.3081 14.3219V38.4598C69.3081 45.5403 74.6828 51.4943 81.5219 52.4598V92.6897H51.2368V52.2989C58.0759 51.3333 63.4506 45.3794 63.4506 38.2989V14.161C63.4506 6.43686 57.0943 0 49.1287 0C41.1632 0 34.8069 6.27594 34.8069 14.161V38.2989C34.8069 45.3794 40.1816 51.3333 47.0207 52.2989V92.6897H16.5747V52.2989C23.4138 51.3333 28.7885 45.3794 28.7885 38.2989V14.161C28.7885 6.43686 22.4483 0 14.4667 0C6.48507 0 0.144822 6.27594 0.144822 14.161V38.2989C0.144822 45.3794 5.51955 51.3333 12.3586 52.2989V92.6897H2.10804C0.965513 92.6897 0 93.6552 0 94.7817C0 95.9081 0.981605 96.8736 2.10804 96.8736H95.7149C96.8575 96.8736 97.823 95.9081 97.823 94.7817C97.823 93.6552 96.8414 92.6897 95.7149 92.6897H85.7862V52.2989C92.6253 51.3333 98 45.5403 98 38.4598H97.9517ZM39.023 38.4598V14.3219C39.023 8.85061 43.577 4.18397 49.2736 4.18397C54.9701 4.18397 59.5242 8.6897 59.5242 14.3219V38.4598C59.5242 43.2874 55.9357 47.3104 51.3816 48.2759V33.4713L56.5954 30.092C57.577 29.4483 57.7379 28.1609 57.0782 27.3563C56.4345 26.3908 55.131 26.2299 54.3104 26.8736L51.3816 28.8046V24.4598C51.3816 23.3334 50.4 22.3679 49.2736 22.3679C48.1471 22.3679 47.1655 23.3334 47.1655 24.4598V38.7817L44.2368 36.8506C43.2552 36.2069 41.9517 36.5288 41.469 37.3334C40.8253 38.2989 41.1471 39.5863 41.9517 40.069L47.1655 43.4483V48.2759C42.4506 47.3104 39.023 43.2874 39.023 38.4598ZM4.34482 38.4598V14.3219C4.34482 8.85061 8.89886 4.18397 14.5954 4.18397C20.292 4.18397 24.846 8.6897 24.846 14.3219V38.4598C24.846 43.2874 21.2575 47.3104 16.7035 48.2759V33.4713L21.9172 30.092C22.8988 29.4483 23.0598 28.1609 22.4 27.3563C21.7563 26.3908 20.4529 26.2299 19.6322 26.8736L16.7035 28.8046V24.4598C16.7035 23.3334 15.7218 22.3679 14.5793 22.3679C13.4368 22.3679 12.4713 23.1725 12.4713 24.2989V38.6207L9.54254 36.6897C8.56093 36.0461 7.25748 36.3679 6.77472 37.1725C6.13105 38.138 6.45287 39.4254 7.25746 39.9081L12.4713 43.2874V48.115C7.91724 47.3104 4.32874 43.2874 4.32874 38.4598H4.34482ZM73.5402 38.4598V14.3219C73.5402 8.85061 78.0943 4.18397 83.7908 4.18397C89.4874 4.18397 94.0414 8.6897 94.0414 14.3219V38.4598C94.0414 43.2874 90.4529 47.3104 85.8989 48.2759V33.4713L91.1126 30.092C92.0943 29.4483 92.2552 28.1609 91.5954 27.3563C90.9517 26.3908 89.6483 26.2299 88.8276 26.8736L85.7379 28.6438V24.2989C85.7379 23.1725 84.7563 22.207 83.6138 22.207C82.4713 22.207 81.5057 23.1725 81.5057 24.2989V38.6207L78.577 36.6897C77.5954 36.0461 76.292 36.3679 75.8092 37.1725C75.3264 37.9771 75.4874 39.4254 76.292 39.9081L81.5057 43.2874V48.115C77.1126 47.3104 73.5242 43.2874 73.5242 38.4598H73.5402Z' fill='%23534333'/%3E%3C/svg%3E%0A");
    background-size: 90%;
}
.biz .list ul li.biz6 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='94' height='99' viewBox='0 0 94 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78.8336 16.8605C78.2366 16.4249 77.4138 16.4249 76.8168 16.8605C76.2198 17.2962 62.1504 27.6545 62.1343 41.8853C62.1343 50.1139 66.8295 57.8102 76.1069 64.7643V83.1254C76.1069 89.3533 71.0406 94.4196 64.8126 94.4196H39.9814C33.7535 94.4196 28.6872 89.3533 28.6872 83.1254V69.4594H31.5269C32.4789 69.4594 33.2533 68.6849 33.2533 67.733V62.6828C38.0776 61.6502 42.321 59.0041 45.3543 55.3254C48.436 51.5983 50.2915 46.8225 50.2915 41.611V29.3003H51.6952C52.2922 29.3003 52.8085 28.9776 53.115 28.5097C53.2925 28.2354 53.4216 27.9288 53.4216 27.59V18.2642C53.4216 17.3123 52.6471 16.5378 51.6952 16.5378H45.4995V2.22642C45.4995 1.27447 44.725 0.5 43.7731 0.5H34.657C33.7051 0.5 32.9306 1.27447 32.9306 2.22642V16.5378H20.991V2.22642C20.991 1.27447 20.2165 0.5 19.2646 0.5H10.1485C9.19658 0.5 8.42211 1.27447 8.42211 2.22642V16.5378H2.22642C1.27447 16.5378 0.5 17.3123 0.5 18.2642V27.59C0.5 28.542 1.27447 29.3164 2.22642 29.3164H3.63012V41.6272C3.63012 51.9533 10.923 60.5853 20.636 62.6828V67.7491C20.636 68.7011 21.4105 69.4755 22.3624 69.4755H25.2021V83.1415C25.2021 91.2734 31.8173 97.8886 39.9492 97.8886H64.7804C72.9122 97.8886 79.5274 91.2734 79.5274 83.1415V64.7803C88.7887 57.8263 93.5 50.1301 93.5 41.9014C93.5 27.6707 79.4145 17.3122 78.8175 16.8766L78.8336 16.8605ZM36.3834 3.93668H42.0628V16.5378H36.3834V3.93668ZM11.8911 3.93668H17.5704V16.5378H11.8911V3.93668ZM3.96896 19.9745H49.9688V25.8474H3.96896V19.9745ZM7.09908 41.611V29.3003H46.8387V41.611C46.8387 50.5496 40.3041 57.9876 31.7689 59.4398C30.7847 59.6011 29.7844 59.7141 28.7679 59.7141H25.1699C15.1987 59.698 7.09908 51.5822 7.09908 41.611ZM24.105 63.1508H25.1699C25.1699 63.1508 25.186 63.1508 25.2021 63.1508H28.7356C28.7356 63.1508 28.7517 63.1508 28.7679 63.1508H29.8005V66.0066H24.105V63.1508ZM79.5436 60.3756V32.5272C79.5436 31.5753 78.7691 30.8008 77.8172 30.8008C76.8652 30.8008 76.0908 31.5753 76.0908 32.5272V60.3756C69.1045 54.5671 65.571 48.3714 65.571 41.9014C65.571 31.4946 74.7193 23.0239 77.8172 20.4424C80.915 23.0078 90.0633 31.4784 90.0633 41.9014C90.0633 48.3714 86.5299 54.5833 79.5436 60.3756Z' fill='%23534333' stroke='%23534333' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
    background-size: 80%;
}
.biz .list ul li a span::after {
    content: "";
    position: absolute;
    right: 12%; /* a span 오른쪽 */
    top: 50%; /* a span 위아래 가운데 */
    transform: translateY(-50%); /* ::before 높이 절반 */
    width: 1.285em; /* 버튼 크기는 글자 크기에 비례 */
    height: 1.285em; 
    border-radius: 50%;
    background-color: #134743;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.13125 5.25L4.93125 1.05L6 4.29138e-07L12 6L6 12L4.93125 10.95L9.13125 6.75L-4.94705e-07 6.75L-3.63571e-07 5.25L9.13125 5.25Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 33.33%; /* ::after 너비의 % */
}

@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 768px) {
    .biz {
        padding: 134px 0 71px 0;
    }
    .biz .wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 34px 0;
    }
    .biz .list {
        width: 100%;
        max-width: 100%;
    }

    .biz .list ul li:nth-child(odd) { 
        transform: translateY(0);
    }

    .biz .list ul li a {
        height: 215px;
        padding: 0 0 61px 0;
        text-align: center;
    }

    .biz .list ul li a span::before {
        left: 50%;
        transform: translateX(-50%);
        background-position: center top;
    }
    .biz .list ul li a span::after {
        right: 50%; /* a span 오른쪽 */
        transform: translateX(50%);
        top: auto; /* a span 위아래 가운데 */
        bottom: -39px;
        background-size: 26.66%; /* ::after 너비의 % */
    }
}


.story .tit h2 {
    font-size: clamp(28px, calc(40 / 1024 * 100vw), 40px);
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1.3;
}

.story .list .swiper {
    padding: clamp(32px, calc(52 / 1024 * 100vw), 52px) 20px 0 0;
    width: calc(100% + 20px);
}

.story .list .swiper-slide {
    width: 250px;
}

.story .list .swiper-slide a {
    display: block;
    border-top: 1px solid #1d1d1d;
    position: relative; /* ::before 정렬 기준 */
    transition: transform 0.3s;
}

.story .list .swiper-slide a h3 {
    font-size: clamp(20px, calc(24 / 1024 * 100vw), 24px);
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    /* 2줄 제한 */
    height: 2.6em;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 1em 0 1.666em 0;
    word-break: normal;
}

.story .list .swiper-slide a span {
    display: block;
    color: rgba(61, 61, 61, 0.6);
    margin: 0 0 1.6875em 0;
}

.story .list .swiper-slide a .photo {
    overflow: hidden;
    height: clamp(141px, calc(165 / 1024 * 100vw), 165px);
    position: relative;
}

.story .list .swiper-slide a .photo strong {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #134743;
    color: #fff;
    padding: 0.1875em 0.9375em;
}

.story .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story .more {
    margin: clamp(56px, calc(67 / 1024 * 100vw), 67px) 0 0 0;
    display: flex;
    justify-content: center;
}

.story .more a {
    display: block;
    border: 1px solid #3d3d3d;
    border-radius: 100px;
    padding: 10px 46px 10px 34px;
    position: relative;
}
.story .more a::after {
    content: "";
    position: absolute;
    right: 1.8125em;
    top: 1em;
    width: 0.8125em;
    height: 0.8125em;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.77778 13V7.22222H0V5.77778H5.77778V0H7.22222V5.77778H13V7.22222H7.22222V13H5.77778Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

/* .swiper-slide.over .swiper-slide.over .swiper-slide.over */
.story .list .swiper-slide:hover a {
    transform: translateY(-20px);
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.1);
}
.story .list .swiper-slide:hover a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #134743;
}
.story .list .swiper-slide:hover a::after {
    content: "";
    position: absolute;
    right: 30px;
    bottom: 35px;
    z-index: 2;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-2.38419e-07 31.2308L25.8462 5.38462L2.69231 5.38461V-1.41221e-06L35 0V32.3077L29.6154 32.3077V9.15385L3.76923 35L-2.38419e-07 31.2308Z' fill='white'/%3E%3C/svg%3E%0A");
}

.story .list .swiper-slide:hover a h3 {
    position: relative;
    z-index: 2;
    color: #fff;
    margin-left: 30px;
    margin-right: 30px;
}

@media screen and (max-width: 768px) {
    .story {
        margin: 89px 0 97px 0;
    }
}


.sec_nav {
    position: fixed;
    left: 15px;
    top: 50%; /* fixed 기준 브라우저 높이의 50% */
    transform: translateY(-50%); /* 자신을 기준으로 -50% 수직 이동 */
    font-size: 20px;
    transition: opacity 0.3s;
}

.sec_nav ul {
    display: flex;
    flex-direction: column;
    gap: 6px 0;
}

.sec_nav ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.2);
    padding: 0 12px 0 34px;
    position: relative; /* ::before 정렬 기준 */
    border: 1px solid transparent;
}
.sec_nav ul li.active a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
}
.sec_nav ul li a::before {
    content: "";
    position: absolute;
    left: 9px;
    top: 9px;
    width: 8px;
    height: 8px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}
.sec_nav ul li.active a::before {
    border-color: #fff;
    background-color: #fff;
}

/* .sec_nav[data-bg="white"] .sec_nav[data-bg="white"] .sec_nav[data-bg="white"] */
.sec_nav[data-bg="white"] ul li a {
    color: rgba(21, 40, 47, 0.2);
}
.sec_nav[data-bg="white"] ul li.active a {
    color: #15282F;
    border-color: #15282F;
}
.sec_nav[data-bg="white"] ul li a::before {
    border-color: rgba(21, 40, 47, 0.2);
}
.sec_nav[data-bg="white"] ul li.active a::before {
    border-color: #15282F;
    background-color: #15282F;
}

/* .sec_nav[data-bg="none"] .sec_nav[data-bg="none"] .sec_nav[data-bg="none"] */
.sec_nav[data-bg="none"] {
    opacity: 0;
}

@media screen and (max-width: 1024px) {
    .sec_nav {
        display: none;
    }
} /* @media screen and (max-width: 1024px) */

.quick {
    position: fixed;
    right: 67px;
    top: 50%; /* fixed 기준 브라우저 높이의 50% */
    transform: translateY(-50%); /* 자신을 기준으로 -50% 수직 이동 */
    width: 80px;
    padding-bottom: 84px; /* .open, .close 자리*/
}

.quick .open,
.quick .close {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    border: 1px solid #475D2E;
    border-radius: 50%;
    background-color: #444F2D;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
}

.quick .open span,
.quick .close span {
    display: none;
}

.quick .open {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 21L0 13.2835L1.83333 11.9055L10 18.189L18.1667 11.9055L20 13.2835L10 21ZM10 15.4331L0 7.71654L10 0L20 7.71654L10 15.4331ZM10 12.622L16.3889 7.71654L10 2.81102L3.61111 7.71654L10 12.622Z' fill='white'/%3E%3C/svg%3E%0A");
}

.quick .quick_wrap ul {
    border: 1px solid #475D2E;
    background-color: #444F2D;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    padding: 19px 0;
}

.quick .quick_wrap ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.quick .quick_wrap ul li:last-child {
    border-bottom: none;
}

.quick .quick_wrap ul li a,
.quick .quick_wrap ul li button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 95px;
    padding: 52px 0 0 0;
    position: relative;
}
.quick .quick_wrap ul li a::before,
.quick .quick_wrap ul li button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center top;
}
.quick .quick_wrap ul li.kakao a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 24L11.115 22.2997C8.92667 20.3161 7.1175 18.6049 5.6875 17.1662C4.2575 15.7275 3.12 14.436 2.275 13.2916C1.43 12.1471 0.839583 11.0954 0.50375 10.1362C0.167917 9.17711 0 8.19619 0 7.19346C0 5.14441 0.6825 3.43324 2.0475 2.05995C3.4125 0.686649 5.11333 0 7.15 0C8.27667 0 9.34917 0.239782 10.3675 0.719346C11.3858 1.19891 12.2633 1.87466 13 2.74659C13.7367 1.87466 14.6142 1.19891 15.6325 0.719346C16.6508 0.239782 17.7233 0 18.85 0C20.8867 0 22.5875 0.686649 23.9525 2.05995C25.3175 3.43324 26 5.14441 26 7.19346C26 8.19619 25.8321 9.17711 25.4963 10.1362C25.1604 11.0954 24.57 12.1471 23.725 13.2916C22.88 14.436 21.7425 15.7275 20.3125 17.1662C18.8825 18.6049 17.0733 20.3161 14.885 22.2997L13 24ZM13 20.4687C15.08 18.594 16.7917 16.9864 18.135 15.6458C19.4783 14.3052 20.54 13.139 21.32 12.1471C22.1 11.1553 22.6417 10.2725 22.945 9.49864C23.2483 8.7248 23.4 7.9564 23.4 7.19346C23.4 5.88556 22.9667 4.79564 22.1 3.92371C21.2333 3.05177 20.15 2.6158 18.85 2.6158C17.8317 2.6158 16.8892 2.90463 16.0225 3.48229C15.1558 4.05995 14.56 4.79564 14.235 5.68937H11.765C11.44 4.79564 10.8442 4.05995 9.9775 3.48229C9.11083 2.90463 8.16833 2.6158 7.15 2.6158C5.85 2.6158 4.76667 3.05177 3.9 3.92371C3.03333 4.79564 2.6 5.88556 2.6 7.19346C2.6 7.9564 2.75167 8.7248 3.055 9.49864C3.35833 10.2725 3.9 11.1553 4.68 12.1471C5.46 13.139 6.52167 14.3052 7.865 15.6458C9.20833 16.9864 10.92 18.594 13 20.4687Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick .quick_wrap ul li.naver a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.57143 18.8571C9.82857 18.8571 10.9048 18.4143 11.8 17.5286C12.6952 16.6429 13.1429 15.5619 13.1429 14.2857C13.1429 13.0286 12.6952 11.9524 11.8 11.0571C10.9048 10.1619 9.82857 9.71429 8.57143 9.71429C7.29524 9.71429 6.21429 10.1619 5.32857 11.0571C4.44286 11.9524 4 13.0286 4 14.2857C4 15.5619 4.44286 16.6429 5.32857 17.5286C6.21429 18.4143 7.29524 18.8571 8.57143 18.8571ZM8.57143 16.5714C7.94286 16.5714 7.40476 16.3476 6.95714 15.9C6.50952 15.4524 6.28571 14.9143 6.28571 14.2857C6.28571 13.6571 6.50952 13.119 6.95714 12.6714C7.40476 12.2238 7.94286 12 8.57143 12C9.2 12 9.7381 12.2238 10.1857 12.6714C10.6333 13.119 10.8571 13.6571 10.8571 14.2857C10.8571 14.9143 10.6333 15.4524 10.1857 15.9C9.7381 16.3476 9.2 16.5714 8.57143 16.5714ZM16 21.7143C17.6762 21.7143 19.0476 21.181 20.1143 20.1143C21.181 19.0476 21.7143 17.6762 21.7143 16C21.7143 15.6762 21.6048 15.4048 21.3857 15.1857C21.1667 14.9667 20.8952 14.8571 20.5714 14.8571C20.2476 14.8571 19.9762 14.9667 19.7571 15.1857C19.5381 15.4048 19.4286 15.6762 19.4286 16C19.4286 16.9143 19.081 17.7143 18.3857 18.4C17.6905 19.0857 16.8952 19.4286 16 19.4286C15.6762 19.4286 15.4048 19.5381 15.1857 19.7571C14.9667 19.9762 14.8571 20.2476 14.8571 20.5714C14.8571 20.8952 14.9667 21.1667 15.1857 21.3857C15.4048 21.6048 15.6762 21.7143 16 21.7143ZM16 24C15.0286 24 14.2143 23.6714 13.5571 23.0143C12.9 22.3571 12.5714 21.5429 12.5714 20.5714C12.5714 19.619 12.9 18.8095 13.5571 18.1429C14.2143 17.4762 15.0286 17.1429 16 17.1429C16.2667 17.1429 16.5238 17.019 16.7714 16.7714C17.019 16.5238 17.1429 16.2667 17.1429 16C17.1429 15.0476 17.4714 14.2381 18.1286 13.5714C18.7857 12.9048 19.6 12.5714 20.5714 12.5714C21.5238 12.5714 22.3333 12.9048 23 13.5714C23.6667 14.2381 24 15.0476 24 16C24 18.3048 23.2429 20.2143 21.7286 21.7286C20.2143 23.2429 18.3048 24 16 24ZM8.57143 22.8571C5.50476 22.8571 3.30952 21.9048 1.98571 20C0.661905 18.0952 0 16 0 13.7143C0 12.2857 0.214286 10.7667 0.642857 9.15714C1.07143 7.54762 1.67143 6.06667 2.44286 4.71429C3.21429 3.3619 4.12381 2.2381 5.17143 1.34286C6.21905 0.447619 7.35238 0 8.57143 0C9.6381 0 10.6381 0.342857 11.5714 1.02857C12.5048 1.71429 13.3381 2.60476 14.0714 3.7C14.8048 4.79524 15.419 6.02381 15.9143 7.38571C16.4095 8.74762 16.7524 10.0952 16.9429 11.4286H14.6286C14.4381 10.2857 14.1333 9.16667 13.7143 8.07143C13.2952 6.97619 12.8048 6 12.2429 5.14286C11.681 4.28571 11.081 3.59524 10.4429 3.07143C9.80476 2.54762 9.18095 2.28571 8.57143 2.28571C7.84762 2.28571 7.11429 2.6381 6.37143 3.34286C5.62857 4.04762 4.95238 4.94762 4.34286 6.04286C3.73333 7.1381 3.2381 8.36191 2.85714 9.71429C2.47619 11.0667 2.28571 12.4 2.28571 13.7143C2.28571 15.2571 2.52381 16.4857 3 17.4C3.47619 18.3143 4.04762 19.0048 4.71429 19.4714C5.38095 19.9381 6.07143 20.2381 6.78571 20.3714C7.5 20.5048 8.09524 20.5714 8.57143 20.5714C8.8 20.5714 9.0619 20.5619 9.35714 20.5429C9.65238 20.5238 9.96191 20.4762 10.2857 20.4C10.2667 20.781 10.2857 21.1619 10.3429 21.5429C10.4 21.9238 10.5048 22.2952 10.6571 22.6571C10.3333 22.7333 10 22.7857 9.65714 22.8143C9.31429 22.8429 8.95238 22.8571 8.57143 22.8571Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick .quick_wrap ul li.green a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='24' viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25 24V21.6H8.75V16.8H6.25C4.52083 16.8 3.04688 16.215 1.82812 15.045C0.609375 13.875 0 12.46 0 10.8C0 9.6 0.34375 8.495 1.03125 7.485C1.71875 6.475 2.64583 5.74 3.8125 5.28C4 3.78 4.68229 2.525 5.85938 1.515C7.03646 0.505 8.41667 0 10 0C11.5833 0 12.9635 0.505 14.1406 1.515C15.3177 2.525 16 3.78 16.1875 5.28C17.3542 5.74 18.2812 6.475 18.9688 7.485C19.6562 8.495 20 9.6 20 10.8C20 12.46 19.3906 13.875 18.1719 15.045C16.9531 16.215 15.4792 16.8 13.75 16.8H11.25V21.6H18.75V24H1.25ZM6.25 14.4H13.75C14.7917 14.4 15.6771 14.05 16.4062 13.35C17.1354 12.65 17.5 11.8 17.5 10.8C17.5 10.08 17.2865 9.42 16.8594 8.82C16.4323 8.22 15.875 7.78 15.1875 7.5L13.875 6.96L13.6875 5.58C13.5625 4.68 13.151 3.925 12.4531 3.315C11.7552 2.705 10.9375 2.4 10 2.4C9.0625 2.4 8.24479 2.705 7.54688 3.315C6.84896 3.925 6.4375 4.68 6.3125 5.58L6.125 6.96L4.8125 7.5C4.125 7.78 3.56771 8.22 3.14062 8.82C2.71354 9.42 2.5 10.08 2.5 10.8C2.5 11.8 2.86458 12.65 3.59375 13.35C4.32292 14.05 5.20833 14.4 6.25 14.4Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick .quick_wrap ul li.top button::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='13' viewBox='0 0 20 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4.91892L2.33333 13L0 10.5405L10 0L20 10.5405L17.6667 13L10 4.91892Z' fill='white'/%3E%3C/svg%3E%0A");
}

.quick .close {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 20L0 18L8 10L0 2L2 0L10 8L18 0L20 2L12 10L20 18L18 20L10 12L2 20Z' fill='white'/%3E%3C/svg%3E%0A");
}

/* 접힌 상태 */
.quick .quick_wrap,
.quick .close {
    display: none;
}

@media screen and (max-width: 1024px) {
    .quick {
        display: none;
    }
} /* @media screen and (max-width: 1024px) */