/* 태그의 스타일 초기화 */
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

strong {
    font-weight: inherit;
}

em, address {
    font-style: normal; /* em, address는 기본 기울임체임 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 공통 스타일 */
body {
    font-family: "Pretendard";
    font-weight: 400;
    font-size: 17px;
    color: #3d3d3d;
    line-height: 1.5;
}

#wrap {
    /* 좌우 margin이 30px이 항상 남게하기 위해, min-width를 1260 + 30 + 30 = 1320으로 제한 */
    min-width: 1320px;
}

.wrapper {
    width: 1260px;
    margin: 0 auto;
}
